<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="css/burger-ordering.css">
		<script src="js/js_script.js"></script>
		<script src="https://vuejs.org/js/vue.js"></script>
		<script src="js/vue_script.js"></script>
		<title>Burgers and burg</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<main>
			<div class="headerMenu">
				<img id="headImg" src="img\palm-tree.jpg" alt="Gif of beer an burger" title="The special one">
				<h1 id="headText">Welcome to Burgers & Burg!</h1>
			</div>
			<section class="burgermenu" id="firstSection">
				<h1>Choose hamburger</h1>
					<p>Here you can choose which burger you want, Yum!</p>
					<div class="burgerDisplay">
						<div class="burger a">
							<h2>The special one</h2>
							<img src="img\Burger1.jpg" alt="Burger1" title="The special one" width="350">
							<table>
								<td>
									<ul>
										<li>Tastes really good, like <span id="ingredients">REALLY GOOD</span>.</li>
										<li><span id="ingredients">No alpacas</span> were harmed during the making of this</li>
									</ul>
								</td>
							</table>
						</div>
						<div class="burger b">
							<h2>The chicken one</h2>
							<img src="img\Burger2.png" alt="Burger2" title="The chicken one" width="350">
							<table>
								<td>
									<ul>
										<li>Contains chicken, like <span id="ingredients">real chicken</span>.</li>
										<li><span id="ingredients">No alpacas</span> were harmed during the making of this</li>
									</ul>
								</td>
							</table>
						</div>
						<div class="burger c">
							<h2>The wrapper one</h2>
							<img src="img\Burger3.jpg" alt="Burger3" title="The wrapper one" width="350">
							<table>
								<td>
									<ul>
										<li>Burger with <span id="ingredients">paper wrapper</span> under it</li>
										<li><span id="ingredients">No trees</span> were harmed during the making of this</li>
									</ul>
								</td>
							</table>
						</div>
					</div>
			</section>
			<section id="secondSection">
				<h2>Hey, where do you live?</h2>
					<p>Fill in your address so we can deliver your burger directly at your door</p>
				<section id="contact">
					<form>
						<fieldset>
						<legend>Delivery information:</legend>
							<p>
								<label for="name">Name</label><br>
								<input type="text" id="name" name="fn" required="required" placeholder="First- and Last name">
							</p>
							<p>
								<label for="email">E-mail</label><br>
								<input type="email" id="email" name="em" required="required" placeholder="E-mail address">
							</p>
							<p>
								<label for="street">Street</label><br>
								<input type="text" id="street" name="st" required="required" placeholder="Street name">
							</p>
							<p>
								<label for="house">House Number</label><br>
								<input type="number" id="house" name="hn" required="required" placeholder="House number">
							</p>
						</fieldset>
						<p>
							<label for="payment">Payment method</label><br>
							<select id="payment" name="pay">
								<option selected="selected">Credit card</option>
								<option>Swish</option>
								<option>PayPal</option>
								<option>Pay in cash at delivery (+4$)</option>
								<option>Pay with pizza</option>
							</select>
						</p>
						<p>
							Gender<br>
							<input type="radio" id="male" name="gender" required="required">
							<label for="male">Male</label><br>

							<input type="radio" id="female" name="gender" required="required">
							<label for="female">Female</label><br>

							<input type="radio" id="nogen" name="gender" required="required">
							<label for="nogen">Prefer to not provide</label>
						</p>
					</form>
				</section>
			</section>
			<button type="submit" id="submitButton"><img src="img\SubmitButtonAnimation.gif" width="200"> </button>
		</main>		
		<footer>
			<hr>
			<p>
				&copy Burgers & Burg corp. With absolutetly no burgers
			</p>
		</footer>
    </body>
</html>